.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    max-width: 250px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
  }

  a:hover {
    transform: scale(1.05);
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ändere baseline zu center */
  gap: 30px;
}

@media (min-width: 800px) {
  /* Korrigiere die Medienabfrage-Syntax */
  .projectsContainer {
    flex-direction: column; /* Ändere row zu column */
    align-items: center; /* Stelle sicher, dass die Ausrichtung zentriert ist */
    padding: 0 30px;
  }
}
