.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  text-align: center;
  height: 90dvh;
  min-height: 500px;

  .hero {
    max-width: 200px;
  }

  /* Icons-Container */
  span {
    display: flex;
    gap: 25px;
    justify-content: center;

    a {
      margin: 0;
      display: inline-block;
      transition: transform 200ms ease, box-shadow 200ms ease;

      img {
        width: 30px;
      }

      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }

  a {
    width: fit-content;
    align-self: center;
  }
}

.colorModeContainer {
  position: relative;
}

.colorMode {
  position: absolute;
  right: 0;
  width: 25px;
  display: inline-block;
  transition: transform 200ms ease, box-shadow 200ms ease;

  &:hover {
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.description {
  max-width: 24ch;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width >= 800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

    .hero {
      max-width: 350px;
      width: 350px;
    }
  }
}

@media (width >= 1400px) {
  .container {
    .hero {
      max-width: 400px;
      width: 400px;
    }
  }
}
